services:
  # Laravel App Service
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: unless-stopped
    working_dir: /var/www/html
    environment:
      APP_SERVICE_USER: www-data
    volumes:
      - ./backend:/var/www/html
      - ./backend/storage:/var/www/html/storage
    networks:
      - laravel_network
    depends_on:
      - db

  # frontend:
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   container_name: frontend
  #   working_dir: /app
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   networks:
  #     - laravel_network
  #   depends_on:
  #     - webserver

  # PostgreSQL Service
  db:
    image: postgres:latest
    container_name: postgres_db
    restart: unless-stopped
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - laravel_network

  # Nginx Service
  webserver:
    image: nginx:alpine
    container_name: laravel_webserver
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www/html
      - ./backend/docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./backend/docker/logs:/var/log/nginx
    networks:
      - laravel_network
    depends_on:
      - app

# Volumes
volumes:
  postgres_data:
    driver: local

# Networks
networks:
  laravel_network:
    driver: bridge
